<!DOCTYPE html>
<html>
<head>
    <meta name="title" content="Gabblin: Just Be Yourself">
    <meta name="description" content="'Gabblin' encourages you to be yourself. Connect with people and share your thoughts without inhibitions.">   
    <title>Gabblin: Search</title>
</head>


<body> 
  
<%= render 'shared/navbar' %>  

 <div class="container-fluid" style="margin-top: 3%">
 
 <div class="col-sm-8 col-sm-offset-2" style="text-align: center">
  <h3 class="lighttext">Search For Stuff</h3>

 <%= render :partial => "shared/searchcommunities" %>

  <%= form_tag searchcommunities_path, :method => :get, :role => "search" do %>
    <%= text_field_tag :search, params[:search], :class => "searchinput", :placeholder => "Search Communities" %>
  <% end %>
  
 </div>

 </div>

 <div class="container-fluid" style="margin-top: 3%">
 	<% if @communities.present? %>
      <%= render :partial => "community", collection: @communities %>
    <% end %>
 </div>
  
</body>

</html>