
<% content_for :head do %>

<title><%= @community.name %></title>
<meta property="og:site_name" content="gabblin">
<meta property="og:title" content='<%= @community.name %>'>
<meta property="og:description" content='<%= @community.description %>'>
<meta property="og:image" content='<%= @community.cpic.url %>'>

<% end %>

<script type="text/javascript">

function link()
   {
     $("#linkfield").show();
   };

function image()
  {
    $("#imagefield").click();
  }   

</script>

<script type="text/javascript">

$(document).ready(function(){
    var box = $("#imagepreview");
    var preview = $("#imagepreview img");
    
    $("#imagefield").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
       box.show();
    });   
});

</script>

<script type="text/javascript">

  $(document).ready(function(){
     
     var farzi = $("#falseinput");
     var form = $("#communityform");

     $(farzi).click(function(event){
       
       form.show();
       farzi.hide();  

     });

  });

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72599891-1', 'auto');
  ga('send', 'pageview');
</script>


<script type="text/javascript">

$(document).ready(function(){

$(".createbtn").click(function(){
  $(".createbtn").hide();
  $("#progresscreatebtn").show(); 
});

});

</script>    


<%= render 'shared/navbarnewpost' %>

<% if !current_user %>
  <%= render :partial => 'shared/navbarsupport' %>    
<% end %>

<!-- Community Information Starts -->

<div class="container-fluid" style="margin-top: 1%; margin-bottom: 40px">
   
   <div class="col-sm-6 col-sm-offset-3" style="margin-top: 2%">
     
     <div class="col-sm-4">
       
       <div class="cpicbox">
         
         <%= image_tag @community.cpic, :class => "fitcpic" %>

       </div>

     </div>

     <div class="col-sm-8 communitydetails">
       
       <h3 style="font-weight: 400"><%= @community.name %></h3>

       <p style="color: rgba(0,0,0,.6)"><%= @community.description %></p> 
       
     </div> 

   </div>
   
  <% if current_user %>
   
   <div class="col-sm-3" style="margin-top: 2%">
        
        <div class="col-xs-12">
           
           <div id="profilebtn">
               
               <div id="followarea_<%= @community.id %>">

                  <% if current_user.hasfollowed?(@community) %>
          
                    <%= render :partial => 'shared/unfollowbtn', locals: {c: @community} %>

                  <% else %>

                    <%= render :partial => 'shared/followbtn', locals: {c: @community} %> 

                  <% end %>
               
                </div> 

           </div>

        </div>

   </div>

  <% end %> 

</div>


<!-- Community Information Ends -->

<!-- Post Form Starts -->

<% if current_user %>


<div class="container-fluid">
   
   <div class="row">

     <div class="col-sm-6 col-sm-offset-3" style="text-align: center">

         <%= render :partial => 'shared/user', locals: {user: current_user} %>    
         
         <div id="imagepreview" style="display: none;">
            
            <img class="fitimg" style="border: transparent" />

         </div>

         <div id="falseinput">
             
             <input placeholder= "Post to Community", class="communityinput">

         </div>
         
         <div id="communityform">

         <%= form_for(Post.new, url: community_posts_path(@community)) do |f| %>
            
            <%= f.text_field :title, :placeholder => "Title", :class => "titleinput" %>

            <%= f.text_field :link, :placeholder => "Share Link", :class => "linkinput", :id => "linkfield" %>

            <%= f.file_field :image, :id => "imagefield" %>

            <%= f.text_area :description, :placeholder => "Describe your Post", :class => "descriptioninput" %>
            
            <div class="col-xs-12" style="margin-top: 3%">
              
               <div class="col-xs-3" id="linktrigger">
               <a href="#" id="linkbutton" onclick="link();"><i class="fa fa-link fa-2x lighticon3"></i></a>
              </div>
              
              <div class="col-xs-3">
               <a href="#" id="imagebutton" onclick="image();"><i class="fa fa-upload fa-2x lighticon4"></i></a>
              </div>
              
              <div class="col-xs-6">
                <%= f.submit "Create Post", :class => "postbtn" %>
                
                <div id="progresscreatebtn">
                   <button class="postbtn"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></button>
                </div>
                
              </div>
            
            </div> 


         <% end %>   
         
         </div>

     </div>

  </div>

</div>

<% end %> 

<!-- Post Form Ends -->

<!-- Posts Start -->

<div class="container-fluid" style="margin-top: 2%">
   
   <% if @posts.any? %>

   <div class="columns">
     
    <div id="postfeed"> 
     <%= render :partial => "shared/post", collection: @posts %>
    </div>

   </div>

  <div class="col-sm-6 col-sm-offset-3" style="margin-top: 3%; text-align: center">
    <%= paginate @posts %>
  </div>

   <% end %>

</div>

<!-- Posts End -->
